
<div>
    <table  mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>S.No. </th>
          <td mat-cell *matCellDef="let element;let i=index"> 
            {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef>District </th>
            <td mat-cell *matCellDef="let element">
              {{element.district}}
          </td>
          </ng-container>
          <ng-container matColumnDef="tf">
            <th mat-header-cell *matHeaderCellDef>Total Facility
                </th>
            <td mat-cell *matCellDef="let element">
              {{element.tf }}
          </td>
          </ng-container>
          <ng-container matColumnDef="cshchwc">
            <th mat-header-cell *matHeaderCellDef>Co-located SHC HWC</th>
            <td mat-cell *matCellDef="let element">
              {{element.cshchwc }}
          </td>
          </ng-container>
          <ng-container matColumnDef="nef">
            <th mat-header-cell *matHeaderCellDef>Not Eligible Facility </th>
            <td mat-cell *matCellDef="let element">
              {{element.nef }}
          </td>
          </ng-container>
          <ng-container matColumnDef="cshchwcnef">
            <th mat-header-cell *matHeaderCellDef>Co-located SHC HWC + Not Eligible Facility
                </th>
            <td mat-cell *matCellDef="let element" >
              {{element.cshchwc + element.nef }}
          </td>
          </ng-container>
              
          <ng-container matColumnDef="ftfd">
            <th mat-header-cell *matHeaderCellDef>Final Target for Districts </th>
            <td mat-cell *matCellDef="let element" >
              {{element.ftfd}}
          </td>
          </ng-container>
              
          <ng-container matColumnDef="osn">
            <th mat-header-cell *matHeaderCellDef>Operational Status as Now</th>
            <td mat-cell *matCellDef="let element" >
              {{element.osn}}
          </td>
          </ng-container>
              
          <ng-container matColumnDef="hwcsop">
            <th mat-header-cell *matHeaderCellDef>HWCs Operational %
                  </th>
            <td mat-cell *matCellDef="let element" >
              {{element.hwcsop}}
          </td>
          </ng-container>
              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
<div>
   