<div class="card ">
    <h1 class="justify-center">Adherence to Open vial policy Entry Page</h1>
    <form [formGroup]="atovpform" (submit)="atovpsubmit()" class="row ">
        <div class="d-flex">
            <label for="lastyear">Last  Year Percentage</label>
            <input type="number" matInput id="lastyear" formControlName="lastyear" placeholder="Last Year Percentage" required>
        </div>
        <div class="d-flex">
            <label for="thisyear">This  Year Percentage</label>
            <input type="number" matInput id="thisyear" formControlName="thisyear" placeholder="this Year Percentage" required>
        </div>
        <div class="d-flex ">
            <button [disabled]="atovpform.invalid" type="submit" mat-raised-button color="primary">Submit</button>

        </div>
    </form>
</div>