
<div>
    <table  mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>S.No. </th>
          <td mat-cell *matCellDef="let element;let i=index"> 
            {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef> Name of District</th>
            <td mat-cell *matCellDef="let element">
              {{element.district}}
          </td>
          </ng-container>
          <ng-container matColumnDef="lfu">
            <th mat-header-cell *matHeaderCellDef>LFU  </th>
            <td mat-cell *matCellDef="let element">
              {{element.lfu }}
          </td>
          </ng-container>
          <ng-container matColumnDef="vl">
            <th mat-header-cell *matHeaderCellDef>Viral Load </th>
            <td mat-cell *matCellDef="let element">
              {{element.vl }}
          </td>
          </ng-container>
              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
<div>
   