label {
 font-family: 'Times New Roman', Times, serif;

}
input{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
.card,.row{
    margin: auto;
    margin-bottom: 20px;
}
mat-form-field{
    margin: auto;
}