
#vhsnd{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: auto;
}


#vhsnd table{
    // border: 2px solid #2108fd;
}
#vhsnd th{
    font-size: 20px;
    border: 1px solid #2108fd;
    padding: 2px;
    text-align: center;
    background-color: #b9fad1;
    color: #2721bc;
}
#vhsnd td{
    padding-left: 10px;
    background-color: #28f4e3;
    color:#2a23f3;
    // border: 1px solid #2108fd;
    font-size: 16px;
    text-align: left;
}
#vhsnd .id{
    width: 60px;
}
#vhsnd .district{
    width: 800px;
}
#vhsnd .vhsnd1{
    width: 150px;
}
#vhsnd .uhsnd{
    width: 150px;
}
#vhsnd .total{
    width: 150px;
}


//ANC
// #vhsnd{
//     font-family: 'Times New Roman', Times, serif;
//     padding: 5px;
//     margin: auto;
// }


// #anc table{
//     // border: 2px solid #2108fd;
// }
// #anc th{
//     font-size: 20px;
//     border: 1px solid #2108fd;
//     padding: 2px;
//     text-align: center;
//     background-color: #b9fad1;
//     color: #2721bc;
// }
// #anc td{
//     padding-left: 10px;
//     background-color: #28f4e3;
//     color:#2a23f3;
//     border: 1px solid #2108fd;
//     font-size: 16px;
//     text-align: left;
// }
// #anc .p1{
//     width: 700px;
// }
// #anc .district{
//     width: fit-content;
// }
// #anc .vhsnd1{
//     width: 150px;
// }
// #anc .uhsnd{
//     width: 150px;
// }
// #anc .total{
//     width: 150px;
// }