th{
    font-size: 20px;
    border: 1px solid #2108fd;
    padding: 2px;
    text-align: center;
    background-color: #b9fad1;
    color: #2721bc;
}
td{
    padding-left: 10px;
    background-color: #28f4e3;
    color:#2a23f3;
    height: fit-content;
    // border: 1px solid #2108fd;
    font-size: 16px;
    text-align: left;
}