<div mat-card>
    <table  mat-table [dataSource]="data" class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index;" >{{i+1}}</td>
      </ng-container>
        <ng-container matColumnDef="facilities">
          <th mat-header-cell *matHeaderCellDef>Facilities Name</th>
          <td mat-cell *matCellDef="let element">
                 {{element.facilities}}
          </td>
        </ng-container>
        <ng-container matColumnDef="designated" >
            <th mat-header-cell *matHeaderCellDef> Designated</th>
            <td mat-cell *matCellDef="let element">
                {{element.designated}}
          </td>
          </ng-container>
          <ng-container matColumnDef="functional">
            <th mat-header-cell *matHeaderCellDef>Functional </th>
            <td mat-cell *matCellDef="let element">
                {{element.functional}}
          </td>
          </ng-container>
          <ng-container matColumnDef="fapc">
            <th mat-header-cell *matHeaderCellDef> Functional as per conditionality DH > 10 C- Section 
                per month & CH & CHC > 5 C- Section per month </th>
            <td mat-cell *matCellDef="let element">
                {{element.fapc}}
          </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>

