/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// @import 'node_modules/ngx-toastr/toastr.css'

table{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
// mat-table{
//     margin-bottom: 50px !important;
// }
// mat-table{
//     margin-right: 20px !important;
// }
