<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side" opened>
      <mat-nav-list>
        <div class="user">
          <!-- <img src="../../../../../assets/logo/CG-LOGO.png" alt="logo" /> -->
          
          <div class="menu-head headertop">
           
            <div class="dash">
              <mat-icon class="leftfloat" (click)="sidebar.toggle()">menu</mat-icon>
              <h3><span class="profile">{{username}} (State)</span><br /></h3>
            </div>
          </div>
        </div>
        <div class="menu-head">
          <span>  
            <h6 class="dash"><a mat-list-item routerLink="dashboard" routerLinkActive="thisactive"><mat-icon
                  class="design_icon">dashboard</mat-icon>Dashboard</a></h6>
          </span>
        </div>
        <!-- forms module -->
        <mat-nav-list>
          <mat-expansion-panel style="border-radius: 0%;" class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-design"></mat-icon>
                Entry Forms
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="thisactive" routerLink="FicipComponent"> Full Immunization Coverage % </a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="AtovpComponent">Adherence to Open vial policy</a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="DorvdComponent"> Discard of RI vaccine doses</a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="NvbdcpComponent"> National Vector Borne Disease Control Programme (NVBDCP) </a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="AesjeComponent">Acute Encephalitis Syndrome/Japanese Encephalitis </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
        <!-- reports module -->
        <mat-nav-list> 
          <mat-expansion-panel style="border-radius: 0%;" class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-design"></mat-icon>
                Reports 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="thisactive" routerLink="FicipRComponent">  Full Immunization Coverage % </a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="AtovpRComponent">Adherence to Open vial policy</a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="DorvdRComponent">Discard of RI vaccine doses</a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="NvbdcpRComponent">National Vector Borne Disease Control Programme (NVBDCP)</a>
              <a mat-list-item routerLinkActive="thisactive" routerLink="AesjeRComponent">Acute Encephalitis Syndrome/Japanese Encephalitis</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <div class="menu-head">
            <span>
               <h6 class="logout" ><a mat-list-item (click)="logout()"><mat-icon class="design_icon">logout</mat-icon>LogOut</a></h6>
            </span>
          </div>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="toolbar sticky-top nav">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box">
            <!-- <mat-icon>search</mat-icon> -->
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  